* {
    margin: 0;

}

body{
    background-image: url('image/b.jpeg');
    background-repeat: no-repeat;
    background-size: 100%;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: ;
    padding: 20px 0 20px 0;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;


}

#navlink{
    display: flex;
    color: teal;
    
}

#home{
    margin-right: 8px;
}
#project-tile{
    margin-right: 8px;
}

#header{
    margin: 0 0 4rem 0;
    text-align:center ;
    background-color:#f6eedf ;
    padding: 25px 0 25px 0;
}
#footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:lightsalmon;
    text-align: center;
}
.logo{
    color:teal;
}

#welcome-section{
    position: absolute;
    left: 100%;
    width: 100%;
    background: #f6eedf;
    -webkit-animation: welcome-section 0.5s forwards ;
    -webkit-animation-delay: 2s;
    animation: welcome-section 0.5s forwards;
    animation-delay: 2s;
    color: teal;
    padding-top: opx;
    margin-top: 0px;
    display: block;
    height: 100vh;

}
@-webkit-keyframes welcome-section{
    100%{left: 0;}
}
@keyframes welcome-section{
    100%{left: 0;}
}
#f1{
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
}
#f2{
    text-align: center;
}
#f3{
    line-height: 3rem;
}




